{% extends 'layout.html' %}

{% block head_title %}Confirm Password Reset{% endblock %}

{% block static %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'user/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card" id="password_reset">
      <div class="card-header">
        <h3>Password Reset</h3>
      </div>
      <div class="card-body">
        <p class="text-light">Enter new password.</p>
        <form action="" method="post">
          {% csrf_token %}
          <p class="text-light">New password: {{ form.new_password1 }}</p>
          <p class='text-light'>Confirm passowrd: {{ form.new_password2 }}</p>
          <hr><input type="submit" value="Save" class="btn login_btn">
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Changed your mind? <a href="{% url 'login' %}">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
